<!-- <app-account></app-account> -->

<app-product></app-product>

                    <!-- it is for counter component -->
<!-- <app-counter></app-counter>

     ngFor ,ngIf - structural directives
<h1>ngFor Example</h1>
<ul>
  <li *ngFor="let movie of movies
  ">{{movie}}
  </li>
</ul>                                    
         ngFor ,ngIf - structural directives

<p *ngIf="true"> Welcome to aspire</p>

          two way binding is done and we use the hidden text using checkbox

Hide content<input type="checkbox" [(ngModel)] = "showMe"> 
<p *ngIf="showMe"> Welcome to aspire</p>

            Attribute directives -> ngClass, ngStyle

<p [ngClass]="['primary','big']">Welcome to aspire</p>
       
            using condition

Apply Red<input type="checkbox" [(ngModel)] = "applyRed"> 
<p [ngClass]="{'primary':applyRed}">Welcome to aspire</p>

<p [ngStyle]="{'color':'red', 'font-size':'40px'}">Welcome to aspire</p> -->