.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(25% - 20px);
  margin: 20px 0;
  transition: transform 0.2s;
}

.product-item:hover {
  transform: translateY(-5px);
}

.product-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-item h4 {
  padding: 10px;
  font-size: 1.2em;
  color: #333;
}

.product-item p {
  padding: 0 10px;
  color: #777;
}

.product-item a {
  display: block;
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  transition: background-color 0.3s ease;
}

.product-item a:hover {
  background-color: #555;
}











/* .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    margin: 20px 0;
    transition: transform 0.2s;
  }
  
  .product-item:hover {
    transform: translateY(-5px);
  }
  
  .product-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .product-item h4 {
    padding: 10px;
    font-size: 1.2em;
    color: #333;
  }
  
  .product-item p {
    padding: 0 10px;
    color: #777;
  }
  
  .product-item a {
    display: block;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 0 0 8px 8px;
    transition: background-color 0.3s ease;
  }
  
  .product-item a:hover {
    background-color: #555;
  }
   */